*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}
